.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color:  #f2f2f2;
}

.logo {
  width: 228px;
  height: 32px;
}

.header__logo {
  position: absolute;
  top: 30px;
  left: 64px;
  background-size: cover;
  z-index: 1;
  background-image: url(/images/logo_place_header.svg);
}

.header__title {
  width: 388px;
  display: flex;
  align-items: center;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link{
  color: #2f80ed;
  text-decoration: none;
}

.header__main-ilustration{
  position: absolute;
  height: 608px;
  width: 705px;
  background-size: cover;
  z-index: 1;
  bottom: 0;
  right: 0;
}

.header__square-pic {
  background-color: #2f80ed;
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  z-index: 0;
}

.description {
  display: flex;
  justify-content: center;
  background-color:  #f2f2f2;
}

.two-columns {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__brief {
  margin-top: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:  #2f80ed;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 1.2;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 0;

}

.digits {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color:  #f2f2f2;
}

.section-title {
  margin-top: 100px;
  margin-bottom: 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.section-subtitle{
  width: 60%;
  margin-bottom: 60px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;

}

.table__place_digits {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  list-style: none;

}

.table_cell {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 60px;
}

.table_heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.table__text_digits:first-of-type {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;

}

.table__text_digits:last-of-type {
  margin-top: 20px;
}

.feynman{
  background-color:  #f2f2f2;
  height: 890px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.feynman__main-ilustration {
  width: 867px;
  height: 637px;
  z-index: 1;
  left: 0;
  bottom: 0;
  position: absolute;
}

.feyman__title {
  margin-top: 100px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
  text-align: center;
}

.feyman__subtitle {
  z-index: 1;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feyman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.kaufman {
  background-color:  #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 90px;
  overflow: hidden;
}

.section-title_theme_dark {
  margin-top: 100px;
  margin-bottom: 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  width: 60%;
  margin-bottom: 60px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: white;

  z-index: 1;
}

.table_theme_dark {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  list-style: none;

  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  flex-direction: column;

  z-index: 1;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
}

.kaufman_triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
}

.footer {
  min-height: 350px;
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
}

.footer__columns {
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.footer__colum_content_copyright {
  flex-basis: 711px;
  position: relative;
}

.footer__author {
  color: white;
  position: absolute;
  bottom: 18px;
  line-height: 25px;
  font-size: 25px;
  font-weight: normal;
}

.footer__column-heading {
  color: white;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  padding-bottom: 16px;
  color: white;
  list-style: none;
  padding: 0;
}

.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}


.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}
